<div class="message-content item-card-chat" data-rarity="{{rarity}}">
  <div class="card-image-container">
    <img class="card-image" src="{{itemImg}}" alt="Item image">
    <div class="card-header-text">
      <h5 class="dh-card-title">
        {{{typeIcon}}} {{itemName}}
      </h5>
    </div>
  </div>

  <div class="card-content">
    <div class="card-subtitle">
      <div class="meta-row">
        <span class="rarity-chip" title="{{rarityTooltip}}">{{rarity}}</span>
        <span class="roll-chip" title="{{diceTooltip}}">
          Roll: {{diceTotal}} ({{diceFormula}})
        </span>
      </div>
    </div>

    <div class="card-description">
      {{{itemDescription}}}
    </div>

    {{#if itemUuid}}
      <div class="draggable-wrap">
        <div class="dhl-draggable-item" title="Drag and drop to your backpack">
          @UUID[{{itemUuid}}]
        </div>
      </div>
    {{/if}}
  </div>
</div>
